# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true

# Programming languages
*.c linguist-language=C
*.h linguist-language=C
*.cpp linguist-language=C++
*.hpp linguist-language=C++
*.py linguist-language=Python
*.mojo linguist-language=Mojo
*.rs linguist-language=Rust

# DSL
*.cu linguist-language=CUDA
*.cuh linguist-language=CUDA
