# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true

# Programming languages
*.c linguist-language=C
*.h linguist-language=C
*.cpp linguist-language=C++
*.hpp linguist-language=C++
*.py linguist-language=Python
*.mojo linguist-language=Mojo
*.rs linguist-language=Rust

# Frameworks
*.cu linguist-language=CUDA
*.cuh linguist-language=CUDA

# Test Git Attributes. wip
c/** linguist-detectable
cpp/** linguist-detectable
test/** linguist-detectable
