# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true

# Programming languages and Shell
#*.c linguist-language=C
#*.h linguist-language=C
#*.cpp linguist-language=C++
#*.hpp linguist-language=C++
*.py linguist-language=Python
#*.mojo linguist-language=Mojo
#*.rs linguist-language=Rust

*.c linguist-detectable=false
*.h linguist-detectable=false
*.cpp linguist-detectable=false
*.hpp linguist-detable=false
*.mojo linguist-detectable=false
*.rs linguist-detectable=false
*.cu linguist-detectable=false
*.cuh linguist-detectable=false
*.ps1 linguist-detectable=false
*.sh linguist-detectable=false

# Frameworks
#*.cu linguist-language=CUDA
#*.cuh linguist-language=CUDA

# Test Git Attributes. wip
#c/** linguist-detectable
#cpp/** linguist-detectable
#test/** linguist-detectable
