[workspace]
authors = ["Robert Cocker <rcocker87@gmail.com>"]
channels = ["conda-forge", "https://conda.modular.com/max-nightly"]
name = "super-palm-tree"
platforms = ["linux-64", "linux-aarch64", "osx-arm64"]
version = "0.2.0"

[dependencies]
python = ">=3.14.3,<3.15"
pandas = ">=3.0.1,<4"
scikit-learn = ">=1.8.0,<2"
numpy = ">=2.4.2,<3"
mojo = ">=0.26.2.0.dev2026022505,<0.27"
mojo-compiler = ">=0.26.2.0.dev2026022505,<0.27"
cmake = ">=4.2.3,<5"
jupyterlab = ">=4.5.5,<5"
docker-cli = ">=29.2.1,<30"
curl = ">=8.18.0,<9"
rust = ">=1.93.1,<1.94"
jq = ">=1.8.1,<2"
sqlite = ">=3.51.2,<4"
nushell = ">=0.110.0,<0.111"
zig = ">=0.15.2,<0.16"
go = ">=1.26.0,<2"
gfortran = ">=15.2.0,<15.3"
tldr = ">=3.4.4,<4"
bandit = ">=1.9.4,<2"
pip-audit = ">=2.10.0,<3"
vim = ">=9.2.45,<10"
texinfo = ">=7.2,<8"
fastfetch = ">=2.49.0,<3"
bat = ">=0.26.1,<0.27"
cowpy = ">=1.1.5,<2"
max = ">=26.2.0.dev2026022505,<27"
pyperf = ">=2.9.0,<3"
datasets = ">=4.5.0,<5"
matplotlib = ">=3.10.8,<4"
ipdb = ">=0.13.13,<0.14"
pdb-tools = ">=2.6.1,<3"
nvidia-ml = ">=7.352.0,<8"
coreutils = ">=9.5,<10"
fpm = ">=0.13.0,<0.14"

[tasks]
build = "rustc -C opt-level=3 -o etl rust/etl.rs"
etl = "pixi run build && ./etl --db world_data.db --table countries --csv countries.csv"
clean = "rm -f etl world_data.db countries.csv countries.tmp.json"
db = "sqlite3 world_data.db"

[tasks.mojo]
cmd = "MOJO_ENABLE_STACK_TRACE_ON_ERROR=1 mojo mojo/sklearn.mojo"

[pypi-dependencies]
emacs = ">=24.1.50.1.post20120610, <25"
cowsay = ">=6.1, <7"

[activation.env]
MOJO_ENABLE_STACK_TRACE_ON_ERROR = "1"
